<main class="container" id="home-page">
	<div id="cruise-card-header">
            <span id="cruise-card-title">
                Choose Your Sailings
            </span>
            <span id="cruise-card-sub-header">
            (Pick one for each box)
            </span>
        </div>
        <div id="cruise-card-wrapper">
            <div id="cruise-card-container">
													{{> partials/Image_banner}}
														{{> partials/Titles}}
														{{> partials/Radiobtn}}
												</div>
        </div>
									{{> partials/Footer}}
  </main> 
 