    <div id="cruise-card-header">
        <span id="cruise-card-title">
            Choose Your Sailings
        </span>
        <span id="cruise-card-sub-header">
           (Pick one for each box)
        </span>
    </div>
  
    <div id="cruise-card-wrapper">
		
				{{#each this}}
        <div id="cruise-card-container" >
           
           {{> partials/Image_banner}}
 
           
            <div id="container-bod-article-body">
                {{> partials/Titles}}
            </div>
            <div id="radioBtn-wrapper">
           {{> partials/Radiobtn }}
            </div>
        </div>
      
			    {{/each}}
    </div>
    
