<div class="container-bod-footer-wrapper">
	<footer class="container-bod-total-footer">
		<div class="container-bod-total-txt">
			Your Selected Sailings Total
		</div>
		<span id="container-bod-total-result-price">$ {{this}}</span>
	</footer>
</div>