<div id="cruise-bod-footer-wrapper">
	<footer id="cruise-bod-total-footer">
		<div id="cruise-bod-total-txt">
			<span>Your Selected Sailings Total</span>
				
		</div>
		<span id="cruise-bod-total-result-price">$ {{this}}</span>
	</footer>
</div>
