<div id="container-bod-ribbon-container">
    <div id="container-bod-ribbon">
        <span class="container-bod-starting">Starting at</span>
        <span class="container-bod-cruise-price-ribbon">$100</span>
    </div>
</div>
{{img}}
<img src="{{img}}" alt="">