<div id="cruise-banner-image">
    <div id="cruise-bod-ribbon-wrapper">
        <img src="{{{sailing_main_image}}}" alt="">
    
    </div>
</div>



    <div id="cruise-bod-ribbon-container">

            <span>
                <div id="cruise-bod-ribbon">
                    <span id="cruise-bod-starting">Starting at</span>
                    <span id="cruise-bod-cruise-price-ribbon"><span>$</span> {{#minP this @index}}
                        {{sailing_price}}
                        {{/minP}}
                    </span>
            </span>
        </div>
        </div>